<!DOCTYPE html>
<html lang="en">
<head>
  <title>NASDAQ</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="static/style.css">
  </head>
<body>
  <div id="container">
    <div id="left"> <!-- Search Interface -->
        <h2>Search</h2>
        <form id="parameterForm">
          <label for="country">Country:</label>
          <select id="country" name="country" multiple onchange="handleFormChange()">
              <option value="">-- Select Country --</option>
              {% for country in country_list %}
              {% if country.chosen %}
              <option value="{{ country.name }}" class="chosen-option">{{ country.name }}</option>
              {% else %}
              <option value="{{ country.name }}" selected class="non-chosen-option">{{ country.name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="state">State:</label>
          <select id="state" name="state" multiple onchange="handleFormChange()">
              <option value="">-- Select State --</option>
              {% for state in states %}
              {% if state.chosen %}
              <option value="{{ state.name }}" class="chosen-option">{{ state.name }}</option>
              {% else %}
              <option value="{{ state.name }}" selected class="non-chosen-option">{{ state.name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="company">Company:</label>
          <select id="company" name="company" multiple onchange="handleFormChange()">
              <option value="">-- Select Company --</option>
              {% for company in company_list %}
              {% if company.Chosen %}
              <option value="{{ company.company_name }}" class="chosen-option">{{ company.company_name }}</option>
              {% else %}
              <option value="{{ company.company_name }}" selected class="non-chosen-option">{{ company.company_name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="startDate">Buy Date:</label>
          <input type="date" id="startDate" name="startDate" value="1962-01-01" onchange="handleFormChange()">
          
          <label for="endDate">Sell Date:</label>
          <input type="date" id="endDate" name="endDate" value="2023-01-01" onchange="handleFormChange()">
          
          <button type="submit">Buy</button>
        </form>  
    </div>
    <div id="map" data-coordinates="{{ coordinates | tojson }}" data-names="{{names}}" data-symbols = "{{symbols}}">
  </div>
    <div id="right"> <!-- Investment portfolio -->
      <div id="graphContainer">{{ graph_html | safe }}</div>
    </div> 
  </div>



    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
