<!DOCTYPE html>
<html lang="en">
<head>
  <title>NASDAQ</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="static/style.css">
  </head>
<body>
  <div id="container">
    <div id="left"> <!-- Search Interface -->
        <h2>Left</h2>
        <form id="parameterForm">
          <label for="country">Country:</label>
          <select id="country" name="country" multiple>
              <option value="">-- Select Country --</option>
              {% for country in countries %}
              {% if country.chosen %}
              <option value="{{ country.name }}" selected>{{ country.name }}</option>
              {% else %}
              <option value="{{ country.name }}">{{ country.name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="state">State:</label>
          <select id="state" name="state" multiple>
              <option value="">-- Select State --</option>
              {% for state in states %}
              {% if state.chosen %}
              <option value="{{ state.name }}" selected>{{ state.name }}</option>
              {% else %}
              <option value="{{ state.name }}">{{ state.name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="company">Company:</label>
          <select id="company" name="company" multiple>
              <option value="">-- Select Company --</option>
              {% for company in companies %}
              {% if company.chosen %}
              <option value="{{ company.name }}" selected>{{ company.name }} </option>
              {% else %}
              <option value="{{ company.name }}">{{ company.name }}</option>
              {% endif %}
              {% endfor %}
          </select>
          
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate">
          
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate">
          
          <label for="slider">Time Frame:</label>
          <input type="range" id="slider" name="time_frame" min="0" max="100" value="0">
          
          <button type="submit">Submit</button>
        </form>  
    </div>
    <div id="map" data-coordinates="{{ coordinates | tojson }}" data-names="{{ names | tojson }}">
      <h2>Middle</h2>
  </div>
    <div id="right"> <!-- Investment portfolio -->
        <h2>Right</h2>
    </div> 
  </div>



    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
